.tomo-body-wrapper {
  padding-top: 50px;

  &--home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0 !important;
    min-height: calc(100vh - 60px - 134px);

    @include media-breakpoint-up(md) {
      min-height: calc(100vh - 60px - 134px);
    }

    @include media-breakpoint-up(lg) {
      min-height: calc(100vh - 60px - 134px);
    }
  }
  
  &__heading {
    @include media-breakpoint-up(sm) {
      margin-bottom: 40px;
    }
  }

  @include media-breakpoint-up(lg) {
    padding-top: 80px;
    min-height: calc(100vh - 60px - 134px);
  }

  &--follow {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    min-height: calc(100vh - 60px - 134px);
  }
}